<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Synth</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/dashboard.css" rel="stylesheet"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="assets/javascript/app.js"></script>
</head>
<body ng-controller="SynthCtrl">


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Synth</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">top</a></li>
                <li><a href="#OscillatorNode">OscillatorNode</a></li>
                <li><a href="#gain">Gain</a></li>
                <li><a href="#speechsynthesis">Speech Synthesis</a></li>
            </ul>

        </div>

        <!-- MASTER -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Synth</h1>
            <div class="zbtn-group">
                <button type="button" class="btn btn-primary" ng-click="start()" ng-hide="running">Start Oscillators</button>
                <button type="button" class="btn btn-danger" ng-click="gain=-1;changeGain()" ng-show="gain>0">Mute Oscillators</button>
                <button type="button" class="btn btn-success" ng-click="gain=1;changeGain()" ng-show="gain<0">Un-Mute Oscillators</button>
            </div>
        </div>

        <div id="OscillatorNode" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2 class="page-header">Oscillator Node</h2>

            <h3>Frequency</h3>
            <div class="input-group input-group-lg">
                <input type="number" class="form-control" ng-model="frequency" ng-change="changeFreq()">
                <span class="input-group-addon">hertz</span>
            </div>

            <h3>Notes</h3>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="changeNote(262)" ng-class="{active:frequency===262}">C</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(294)" ng-class="{active:frequency===294}">D</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(330)" ng-class="{active:frequency===330}">E</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(349)" ng-class="{active:frequency===349}">F</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(392)" ng-class="{active:frequency===392}">G</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(440)" ng-class="{active:frequency===440}">A</button>
                <button type="button" class="btn btn-default" ng-click="changeNote(494)" ng-class="{active:frequency===494}">B</button>
            </div>

        </div>

        <div id="OscillatorType" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Oscillators</h2>

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="changeType('sine')" ng-class="{active:type==='sine'}">sine</button>
                <button type="button" class="btn btn-default" ng-click="changeType('square')" ng-class="{active:type==='square'}">square</button>
                <button type="button" class="btn btn-default" ng-click="changeType('sawtooth')" ng-class="{active:type==='sawtooth'}">sawtooth</button>
                <button type="button" class="btn btn-default" ng-click="changeType('triangle')" ng-class="{active:type==='triangle'}">triangle</button>
            </div>

            <h3>Detune</h3>
            <div class="input-group input-group-lg">
                <input type="number" class="form-control" ng-model="detune" ng-change="changeFreq()" step="0.1">
                <span class="input-group-addon">hertz</span>
            </div>

        </div>

        <div id="gain" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Gain</h2>
            <div class="input-group input-group-lg">
                <input type="number" class="form-control" ng-model="gain" ng-change="changeGain()" max="1" min="-1" step="0.05">
            </div>
        </div>


        <div id="speechsynthesis" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Speech Synthesis</h2>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Say</span>
                <input type="text" class="form-control" ng-model="speak">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="button" ng-click="talk()">Talk</button>
                </span>
            </div>
        </div>


    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2444741-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
